html{
  body{
    background-color: aqua;
    .App{
      display: flex;
    }
    .collapse{
      width: 65px;
      .image{
        width: 30px;
        height: 30px;
      }
    }

    .mainPage{
      width: calc(100% - 130px);
    }

    .footer{
      width: 65px;
      border-left: 0.5px solid white;
      

      .suroq{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.43);
        opacity: 0.9;

        .suroqcha{
          width: 20px;
          height: 20px;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
      }
      .zvanok{
        margin-top: 25px;
      }
      img{
        width: 34px;
        height: 34px;
        margin-bottom: 25px;
      }
    }
  }
}